.image-div {
    display: inline-block;
    margin-right: 20px;
    border: 1px solid lightgray;
}

.border {
    padding: 20px;
    border-top: 0;
}

.image-div img {
    width: 100%;
}

.border a {
    text-decoration: none;
}