.row {
    display: flex;
}



main {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.top-divs {
    flex-grow: 1;
}
.top-divs:first-child {
    background: red;
    height: 200px;
}

.top-divs:last-child{
    height: 200px;
    background: gold;
}

.mid-divs {
    flex-grow: 1;
}
.mid-divs:first-child {
    background: green;
    height: 200px;
}

.mid-divs:last-child{
    height: 200px;
    background: black;
}

.left {
    display: flex;
    flex-grow: 1;
    
}
.right {
    display: flex;
    flex-grow: 1;
}

.left div:first-child{
    flex-grow: 1;
    height: 200px;
    background: darkcyan;
}
.left div:last-child {
    flex-grow: 2;
    height: 200px;
    background: rebeccapurple;
}

.right-1 {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
}

.right-2 {
    flex-grow: 1;
    background: red;
    
}

.right-1 div:first-child{
    background: black;
    height: 180px;
}

.right-1 div:last-child{
    background: green;
    height: 20px;
}