.row {
    display: flex;
    flex-direction: row;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.left {
    
    display: flex;
    flex-direction: column;
}

.right {
   
    display: flex;
}


.top {
    display: flex;
    
}

.top div {
    width: 220px;
    background: red;
    margin: 10px;
    height: 200px;
}


.top-2 div {
    width: 100px;
    background: red;
    margin: 10px;
    height: 50px;
}

.mid {
    display: flex;
}

.mid div {
    width: 700px;
    background: red;
    height: 200px;
    margin: 10px;
}

.right-right div{
    width: 220px;
}

.right {
    display: flex;
    flex-direction: column;
}


.bottom div {
    margin: 10px;
    height: 200px;
    background: red;
}

.bottom div:first-child {
    width: 220px;
}

.bottom div:last-child {
    width: 700px;
}

.wrapper-2 {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
}



.bottom-1 {
    display: flex;
}

.bottom-1 div{
width: 460px;
height: 200px;
background: red;
margin: 10px;
}