body {
    background-image: url("3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
   
    opacity: 0.7;
}

.text {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 300px;
}

.text p {
    color: white;
}
.text h3 {
    color: white;
    font-size: 30px;
}
.text h3 span {
    background: white;
    padding-left: 10px;
    color: black;
}

.arrows {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.arrows div {
    background: white;
    color: black;
    padding: 15px;
    
}

.left {
    float: left;
    margin-left: 20px;
}

.right {
    float: right;
    margin-right: 20px;    
}

.bot-ban  {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 25px 50px;
    color: white;
    background: orange;
}

a {
    text-decoration: none;
}