main {
    width: 600px;
    margin: 0 auto;
}

.row {
    clear: both;
}

.left-top-1 {
    width: 300px;
    height: 250px;
    background: red;
    float: left;
}
.right-top-1 {
    width: 300px;
    height: 250px;
    background: green;
    float: right;
}


.left-mid-1 {
    width: 300px;
    height: 150px;
    background: black;
    float: left;
}
.right-mid-1 {
    width: 300px;
    height: 150px;
    background: yellow;
    float: right;
}


.bottom-left {
    float: left;
    width: 300px;
}

.bottom-right {
    float: right;
    width: 300px;
}

.bot-left-1 {
    float: left;
    width: 100px;
    background: darkblue;
    height: 250px;
}

.bot-left-2 {
    float: right;
    width: 200px;
    background: darkmagenta;
    height: 250px;
}

.bot-right-top {
    float: left;
    width: 210px;
    height: 250px;
}

.bot-right-1 {
    background: green;
    height: 210px;
    width: 210px;
}
.bot-right-2 {
    background: yellow;
    height: 40px;
    width: 210px;
}

.bot-right-end {
    background: black;
    height: 250px;
    width: 90px;
    float: right;
}