.row {
    clear: both;
}

main {
    width: 600px;
  
    margin: 0 auto;
}

.left {
    float: left;
    width: 200px;
    
}

.top {
    width: 600px;
}

.left div {
    background: green;
}

.left .left-1 {
    height: 100px;
}
.left .left-2 {
    height: 210px;
}
.right {
    background: red;
    height: 310px;
    width: 400px;
    float: right;
}


.bot-left {
    background: blue;
    width: 200px;
    height: 200px;
    float: left;
}

.bot-right {
    float: right;
    width: 400px;
    height: 200px;
}

.bot-right-1 {
    background: yellow;
    width: 300px;
    height: 200px;
    float: left;
}

.bot-right-2 {
    height: 200px;
    width: 100px;
    background: green;
    float: right;
}

.bot-right-2 div {
    height: 100px;
}