body{
    margin: 0;
    padding: 0;
    width: 1000px;
    margin: 0 auto;
}
.wrap1{
    display:grid;
    grid-template-columns: 220px 220px 220px 220px;
    justify-content: space-between;
}
.wrap1 > div{
    /* width: 220px; */
    height: 220px;
    background: grey;
}
.wrap2{
    display:grid;
    grid-template-columns: repeat(8, auto);
    justify-content: space-between;
    margin-top: 20px;
}
.wrap2 > div{
    width: 100px;
    height: 100px;
    background: grey;
}
.wrap3{
    display:grid;
    grid-template-columns:720px 220px;
    justify-content: space-between;
    margin-top: 20px;
}
.wrap3 > div{
    background: grey;
    height: 220px;
}
.wrap4{
    display:grid;
    grid-template-columns:220px 720px;
    justify-content: space-between;
    margin-top: 20px;
}
.wrap4 > div{
    background: grey;
    height: 220px;
}
.wrap5{
    display:grid;
    grid-template-columns:400px 400px;
    justify-content: space-between;
    margin-top: 20px;
}
.wrap5 > div{
    background: grey;
    height: 220px;
}