
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.wrapper{
    width: 1170px;
    margin: auto;
    margin-top: 10px;
}

.top-post {
    width: 1170px;
    height: 800px;
    background: #ECF0F1;
    margin-bottom: 40px;
}

.bottom-post-top h3{
    color: #2C3E50;
    font-size: 36px;
    font-family: 'Roboto';
}

.bottom-post-titles span {
    font-size: 14px;
    color: #A1B1BC;
    font-family: 'Roboto';
}

.bottom-post-titles span::after {   
    content: "";
    width: 1px;
    height: 12px;
    display: inline-block;
    background: #A1B1BC;
    margin-left: 10px;
    margin-right: 13px;
}

.bottom-post-titles span:last-child::after{
    display: none;
}

.bottom-post-titles span:first-child{
    padding-left: 0;
}

.bottom-post-titles {
    border-bottom: 1px solid #ECF0F1;
    margin-top: 12px;
    padding-bottom: 29px;
    margin-bottom: 22px;
}


.bottom-post p {
    color: #A1B1BC;
    font-size: 14px;
    font-family: 'Roboto';
    line-height: 23px;
}


.bottom-post-mid {
    padding: 39px 69px;
    margin-left: 30px;
    border: 1px solid #ECF0F1;
    margin-top: 39px;
    position: relative;
    width: 1143px;
}

.bottom-post-mid::before {
    content: "";
    width: 10px;
    height: 100%;
    background: #21C2F8;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}


.bottom-post-mid::after{
    content: "";
    width: 10px;
    height: 100%;
    background: #21C2F8;
    display: block;
}

.bottom-post-mid h4 {
    color: #A1B1BC;
    line-height: 24px;
    font-size: 24px;
    font-family: 'Roboto';
    margin-bottom: 12px;
}

.bottom-post-mid p {
    font-size: 16px;
    line-height: 25px;
    width: 88%;
}

.bottom-post-p1 span {
    background: #34495E;
    color: #21C2F8;
    float: left;
    margin-right: 4px;
    font-family: 'Roboto';
    font-size: 31px;
    margin-top: 7px;
    padding: 0px 12px;
}

.bottom-post-p1 p{
    padding-top: 1px;
}

.bottom-post-p1 {
    margin-top: 25px;
}

.bottom-post-p2 {
    margin-top: 38px;
}

.bottom-post-p2 h3 {
    font-size: 30px;
    line-height: 30px;
    font-family: 'Roboto';
    margin-bottom: 15px;
}